{% extends 'layout.html' %}
{% block body_block %}
<div class="container">
  <div class="container">
    <h1>Username: {{ current_user.username }}</h1></br>
    <h3>Referral code: {{ current_user.username }}</h3>
    <h3>Referral link: {{ link }}</h3>
    <h4>Upline: {{ current_user.referral_code }}</h4>
    <h4>Network: {{ count }}</h4>
    {% for i in current_user.referrals %}
      <div class="row mb-3 text-center">
        <div class="col-4 themed-grid-col bg-warning">{{ i.user_name }}</div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}