{% from 'template.html' import field_template %}
{% extends 'layout.html' %}
{% block body_block %}
<main class="form-signin w-100 m-auto">
  <form method="POST" action="">
    <img class="mb-4" src="{{ url_for('static', filename='W-png.png') }}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    {{ form.hidden_tag() }}
    {{ field_template(form.username, placeholder=form.username.label.text) }}
    {{ field_template(form.email, placeholder=form.email.label.text) }}
    {{ field_template(form.password, placeholder=form.password.label.text) }}
    {{ field_template(form.referral_code, placeholder=form.referral_code.label.text) }}
    {{ form.submit(class="btn btn-primary w-100 py-2") }}
    
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2023</p>
  </form>
</main>
{% endblock %}