<! -- Start Form Field Macro -->
{% macro field_template(field) %}
<div class="form-floating mb-3">
    {{ field(class_='form-control', **kwargs)|safe }}
    <label for="{{ field.name }}">{{ field.label.text }}</label>
    <ul>
      {% for error in field.errors %}
          <li style="color:red;">{{ error }}</li>
      {% endfor %}
     </ul>
</div>
{% endmacro %}
<! -- End Form Field Macro -->

<! -- Start Flash Message Macro -->
{% macro flash_template(text) %}
<div class="container flash-message">
  {% with messages = text %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
  {% endwith %}
</div>
{% endmacro %}
<! -- End Flash Message Macro -->